  <ion-content class="login-view-content">
    <div class="col-xs-12">
        <form class="form-validation" autocomplete="off" name="form" ng-submit="login()" role="form"> 
            <div class="container-full" data-container="true">
                <div class="logo">
                    <img src="img/pharma-manager-logo.png" data-component="crn-image" id="logo">
                </div>
                    
                <div class="container" data-container="true">
                    <div class="row component-holder">
                        <div class="col-xs-12 col-sm-12 col-lg-12" data-container="true">
                            
                            
                            
                            <div class="col-xs-12 col-md-12 col-md-push-1" data-container="true">
                                <input type="text" class="form-control" ng-model="user.username" id="username" placeholder="{{'Login.view.Username' | translate}}">                                
                                <input type="password" class="form-control" ng-model="user.password" id="password" placeholder="{{'Login.view.Password' | translate}}">
                                <button type="submit" class="btn-principal" ng-disabled="form.$invalid || vm.dataLoading">{{"Login.view.Login" | translate}}</button>  
                            </div>
                            
                            <div class="col-xs-12 col-md-12 col-md-push-1" data-container="true">
                                <div class="form-group" data-container="true">
                                    <div class="messages">
                                      <div ng-show="message.error" class="help-block">{{message.error}}</div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </form> 
    </div>
  </ion-content> 