<div id="starter" ng-destroy="" ng-click="" ng-init="cronapi.util.makeCallServerBlocklyAsync('blockly.dashboards.DashBoard:vendas', null, null)">
  <div class="page-header component-holder col-xs-12 col-sm-12 col-md-12 col-lg-12" data-component="crn-header" id="crn-header-479042">
    <h1 xattr-position="text-left" data-component="crn-title" id="crn-title7795">{{'Estatisticas' | translate}}</h1>
  </div>
  <div id="graficoMaiorDiv" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h2 class="text-center">Vendas por Dia</h2>
    <canvas id="graficoMaior" data-component="crn-chart" class=""></canvas>
  </div>
  <div id="grafico1Div" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
       <h2 class="text-center">Produtos Vendidos</h2>
      <canvas id="grafico1" data-component="crn-chart" class=""></canvas>
  </div>
  <div id="grafico2Div" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
       <h2 class="text-center">Faturamento por Produto</h2>
      <canvas id="grafico2" data-component="crn-chart" class=""></canvas>
  </div>
  
  <div class="component-holder ng-binding ng-scope col-xs-12 col-sm-12 col-md-12 col-lg-12" data-component="crn-button" id="crn-button-773097"></div>
  <div data-component="crn-chart" class="component-holder col-xs-12 col-sm-12 col-md-12 col-lg-12" id="crn-chart-326548"> 
  </div>
  
</div>