<h3>Produto</h3>

<!-- div row para pesquisa -->
<!--<div class="row">-->


<div data-component="crn-button" id="crn-button-564202" class="">
    <button class="botao-add" type="submit" onclick="" data-component="crn-button" ng-click="Produto.startInserting()" ng-hide="Produto.inserting || Produto.editing"><i class="fas fa-plus"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<!-- fim div row para pesquisa -->
<!--</div>-->

<datasource filter="" name="Produto" entity="api/cronapi/query/rkxcax5np8he/" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
<div class="component-holder" data-component="crn-grid" id="crn-grid-Produto">
    <div crn-datasource="Produto" class="" ng-hide="Produto.editing || Produto.inserting">
        <table class="table  table-bordered table-hover table-striped">
            <thead>
            <tr class="table-header">
                
                <th class="active">
                    <div class="table-header-title">Nome</div>
                </th>
                <th class="table-header-title">
                    <div class="">Código do produto</div>
                </th>
                <th class="">
                    <div class="table-header-title">Categoria</div>
                </th>
                <th class="">
                    <div class="table-header-title">Marca</div>
                </th>
                <th class="">
                    <div class="table-header-title">Preço de custo</div>
                </th>
                <th class="">
                    <div class="table-header-title">Preço de Venda</div>
                </th>
                <th class="">
                    <div class="table-header-title">Fornecedor</div>
                </th>
                <th class="">
                    <div class="table-header-title">{{"template.crud.actions" | translate}}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-content" ng-repeat="rowData in datasource.data">
                
                <td class="active">
                    <div class="table-header-dado">
                                {{rowData.nome  }}
                    </div>
                </td>
                <td class="">
                    <div class="table-header-dado">
                                {{rowData.codigo_produto  }}
                    </div>
                </td>
                <td class="">
                    <div class="table-header-dado">
                                {{rowData.categoria  }}
                    </div>
                </td>
                <td class="">
                    <div class="table-header-dado">
                                {{rowData.marca  }}
                    </div>
                </td>
                <td class="">
                    <div class="table-header-dado">R$ {{rowData.preco_custo | mask:'money' }}</div>
                </td>
                <td class="">
                    <div class="table-header-dado">R$ {{ rowData.preco_venda | mask:'money' }}</div>
                </td>
                <td class="">
                    <div class="table-header-dado">
                            {{rowData.fornecedor.nome_fornecedor}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                        <button class="botao-acao" data-component="crn-button" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fas fa-edit"></i></button>
                        <button class="botao-acao" data-component="crn-button" type="submit" ng-click="datasource.remove(rowData)"><i class="fas fa-times"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-footer-controls">
            <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
        </div>
    </div>
</div>
<div data-component="crn-form" id="crn-form-form-Produto">
    <div class="form" ng-show="Produto.editing || Produto.inserting">
        <form crn-datasource="Produto" class="">
            <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="btn btn-danger" data-component="crn-button" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <br>
            <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">

                <div data-component="crn-textinput" id="crn-textinput-nome" class="">
                    <div class="form-group">
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="text" ng-model="Produto.active.nome" class="form-control" id="textinput-nome" placeholder="Nome" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-codigo_produto" class="">
                    <div class="form-group">
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="text" ng-model="Produto.active.codigo_produto" class="form-control" id="textinput-codigo_produto" placeholder="Código do produto" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-categoria" class="">
                    <div class="form-group">
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="text" ng-model="Produto.active.categoria" class="form-control" id="textinput-categoria" placeholder="Categoria" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-marca" class="">
                    <div class="form-group">
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="text" ng-model="Produto.active.marca" class="form-control" id="textinput-marca" placeholder="Marca" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-preco_custo" class="">
                    <div class="form-group">
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="number" ng-model="Produto.active.preco_custo" class="form-control" id="textinput-preco_custo" placeholder="Preço de custo" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-preco_venda" class="">
                    <div class="form-group">
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="number" ng-model="Produto.active.preco_venda" class="form-control" id="textinput-preco_venda" placeholder="Preço de Venda" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                <div data-component="crn-dynamic-image" id="crn-textinput-picture" class="">
                    <div class="form-group">
                        <label for="textinput-picture" class="">Foto</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <div dynamic-image="" ng-model="Produto.active.foto" max-file-size="5MB" class="dynamic-image-container" ng-required="false">
                                  {{"template.crud.clickOrDragAnImage" | translate}} 
                                </div>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                    <datasource name="Fornecedor" entity="api/cronapi/crud/app.entity.Fornecedor" keys="id" class="" dependent-by="{{Produto}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-fornecedor" class="">
                    <div class="form-group">
 <!-- else for if !model.hasCronappFramework() -->
                                <ui-select ng-model="Produto.active.fornecedor" crn-datasource="Fornecedor" class="crn-select" id="combobox-dynamic-fornecedor" ng-required="false" theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.nome_fornecedor}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.nome_fornecedor}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                <!-- NtoN  -->
                
                
                    
                <!-- NtoN  end-->
            </fieldset>
        </form>
        <form>
            <fieldset>
                <!-- OneToN -->
                <!--query filter 1toN -->
                <!-- query filter 1toN end-->
                
                <div data-component="crn-button" class="">
                    
                </div>
                <!--search 1toN-->
                <!-- seach 1toN end-->
                
                <!-- OneToOne  end -->
            </fieldset>
        </form>
    </div>
</div>


<!-- OneToOne modal -->
<div class="modal fade" id="modalVendaProdutoGrid">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">VendaProduto</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group list-group-sm row">
<!-- else of !model.hasCronappFramework() -->
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->
                                        <datasource name="VendaGridForUiSelect" entity="api/cronapi/crud/app.entity.Venda" keys="id" rows-per-page="100" lazy="true" enabled="{{Produto.editing || Produto.inserting}}"></datasource>
                                        <div data-component="crn-combobox-dynamic" id="crn-combobox-VendaProdutoGrid.active.venda" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="combobox-venda" class="">Venda</label>
                                                <ui-select ng-model="VendaProdutoGrid.active.venda" crn-datasource="VendaGridForUiSelect" class="crn-select" id="combobox-venda" ng-required="false" ng-disabled="disabled" theme="bootstrap">
                                                    <ui-select-match placeholder="Select..." class="">
                                                        {{$select.selected.valor_venda | mask:'money'}}
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                                        <div class="">
                                                            {{rowData.valor_venda | mask:'money'}}
                                                        </div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                             <!-- end if !model.hasCronappFramework() -->

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-component="crn-button" ng-click="VendaProdutoGrid.post();" onclick="(!VendaProdutoGrid.missingRequiredField()?$('#modalVendaProdutoGrid').modal('hide'):void(0))">{{'Save' | translate}}</button>
                    <button type="button" class="btn btn-default" data-component="crn-button" data-dismiss="modal">{{'Home.view.Close' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- OneToOne modal end-->
