<div id="starter" ng-init="" ng-destroy=""><ion-view cache-view="false" view-title="" hide-back-button="true">
  <ion-nav-buttons side="right"> 
    <button class="button button-stable" ng-hide="Produto.inserting || Produto.editing" ng-click="Produto.startInserting()"> <i class="icon ion-plus-round"></i> </button>
    <button class="button button-stable" ng-show="Produto.inserting || Produto.editing" ng-click="Produto.post()"> <i class="icon ion-checkmark"></i> </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-hide="Produto.inserting || Produto.editing" menu-toggle="left"> </button>
    <button class="button button-stable" ng-show="Produto.inserting || Produto.editing" ng-click="Produto.cancel()"> <i class="icon ion-android-arrow-back"></i> </button>
  </ion-nav-buttons>
  <ion-content>
      
    <div class="row">
        <div class="title-pages">
            <span><img src="img/pharma-manager-prototype-produto-color.png" data-component="crn-image" id="carrinho-imagem"></span><h3>Produto</h3>
        </div>              
    </div>
    
    <div class="container">
        <div class="col-xs-12">
            <div ng-hide="Produto.inserting || Produto.editing" data-component="crn-datasource-filter" id="crn-datasource-filter-general" class="">
              <label class="item item-input" id="cloud-search1">
                <input type="text" ng-model="vars.search" cronapp-filter="nome;" cronapp-filter-operator="" cronapp-filter-autopost="true" crn-datasource="Produto" value="" placeholder="{{'template.crud.search' | translate}}">
              </label>
            </div>   
            <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-906854">
              <datasource name="Produto" entity="api/cronapi/crud/app.entity.Produto" keys="id" rows-per-page="10" delete-message="Deseja remover?" class=""></datasource>
            </div>
            <div crn-datasource="Produto" class="" ng-hide="Produto.editing || Produto.inserting">
              <ion-list can-swipe="listCanSwipe">
                <ion-item ng-repeat="rowData in datasource.data" class="item" ng-click="datasource.startEditing(rowData)">
                  <div class="row">
                    <div class="col row-fornecedor-dados">
                      <p>{{rowData.nome}}</p>
                    </div>
                  </div>
                  <ion-option-button class="button-positive" ng-click="datasource.startEditing(rowData)">
                    <i class="icon ion-edit"></i>
                  </ion-option-button>
                  <ion-option-button class="button-assertive" ng-click="datasource.remove(rowData)">
                    &nbsp;
                    <i class="icon ion-trash-a"></i>
                  </ion-option-button>
                </ion-item>
              </ion-list>
            </div>
            <div ng-show="Produto.editing || Produto.inserting">
              <form crn-datasource="Produto">
                <fieldset ng-disabled="!Produto.editing &amp;&amp; !Produto.inserting">
                  <div class="list">
                    <!-- nome begin -->
                    <label for="textinput-nome" class="item item-input item-stacked-label">
                    <input type="text" placeholder="Nome" ng-model="Produto.active.nome" id="textinput-nome" name="textinput-nome">
                    </label>
                    <!-- codigo_produto begin -->
                    <label for="textinput-codigo_produto" class="item item-input item-stacked-label">
                    <input type="text" placeholder="Código do produto" ng-model="Produto.active.codigo_produto" id="textinput-codigo_produto" name="textinput-codigo_produto">
                    </label>
                    <!-- categoria begin -->
                    <label for="textinput-categoria" class="item item-input item-stacked-label">
                    <input type="text" placeholder="Categoria" ng-model="Produto.active.categoria" id="textinput-categoria" name="textinput-categoria">
                    </label>
                    <!-- marca begin -->
                    <label for="textinput-marca" class="item item-input item-stacked-label">
                    <input type="text" placeholder="Marca" ng-model="Produto.active.marca" id="textinput-marca" name="textinput-marca">
                    </label>
                    <!-- preco_custo begin -->
                    <label for="textinput-preco_custo" class="item item-input item-stacked-label">
                    <input type="text" placeholder="Preço de custo" ng-model="Produto.active.preco_custo" id="textinput-preco_custo" name="textinput-preco_custo">
                    </label>
                    <!-- preco_venda begin -->
                    <label for="textinput-preco_venda" class="item item-input item-stacked-label">
                    <input type="text" placeholder="Preço de Venda" ng-model="Produto.active.preco_venda" id="textinput-preco_venda" name="textinput-preco_venda">
                    </label>
                    <!-- fornecedor begin -->
                    <datasource name="Fornecedor" entity="api/cronapi/crud/app.entity.Fornecedor" keys="id" class=""></datasource>
                    <label for="textinput-fornecedor" class="item item-input item-select">
                        Fornecedor
                      <select ng-model="Produto.active.fornecedor" class="form-control" id="textinput-fornecedor" name="textinput-fornecedor" ng-options="opt as opt.nome_fornecedor for opt in Fornecedor.data track by opt.id">
                      <option value="">None</option>
                      </select>
                    </label>
                  </div>
                </fieldset>
              </form>
            </div>
         </div>
    </div>   
    
  </ion-content>
</ion-view>
</div>