@font-face {
    font-family: Roboto;
    src: url(fontes/Roboto-Regular_0.ttf);
}

body {
  font-family: Roboto;
}

.navbar-default {
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding: 0px;
}

.navbar-brand img {
  height: 40px;
  padding: 0;
  margin: -13px 10px 0px 10px; 
}

.navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: #3eb2e4;
}

ul.dropdown-menu {
  color: #fff;
  text-decoration: none;
  padding: 0;
}

.dropdown-menu>li>a {
  display: block;
  padding: 17px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #3eb2e4;
}

h3 {
  text-align: center;
  color: #3eb2e4;
  font-family: Roboto;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 35px;
}

h4 {
  text-align: center;
  color: #9dc176;
  font-family: Roboto;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 25px;  
}

.table-header-title {
  font-weight: 500;
  font-family: Roboto;
  color: #333;
}

.table-header-dado {
  font-weight: 300;
  font-family: Roboto;
  color: #333;  
}

button.botao-acao {
  background-color: #3eb2e4;
  border: none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 1000px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-weight: 100;
  text-align: center;
}

.btn-success {
  background-color: #5EB36D;
  border: none;
  border-radius: 1000px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-weight: 100;
  text-align: center;
}

.btn-danger {
  background-color: #D9534F;
  border: none;
  border-radius: 1000px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-weight: 100;
  text-align: center;
}

button.botao-acao:hover, button.botao-acao:focus {
  background-color: #9dc176;
  outline: 0;
}

.botao-add {
  background:transparent;
  color: #3eb2e4;
  border:0;
  font-size: 20px;
  margin-bottom: 10px;
}

.botao-add:focus {
  outline: 0;
}


/*
===================
Login Styles - View Web
===================
*/

.btn-primary-login {
  color: #fff;
  background-color: #3eb2e4;
  padding: 20px;
  margin: 10px 0px;
  border-color: transparent;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-family: Roboto;
  transition: 600ms;
  -webkit-transition: 600ms;
}

.btn-primary-login:hover {
  color: #fff;
  background-color: #80ce58;
  padding: 20px;
  border-color: transparent;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-family: Roboto;
  transition: 600ms;
  -webkit-transition: 600ms;
}

.fill-body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  padding: 15% 0px;
  background-color: #e8ffdd;
  position: absolute;
}

.form-login {
  width: 50%;
  margin:0 auto;
}

.form-login input, input {
  min-width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #6fb0e1;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  color: #989898;
  font-size: 12px;
  padding: 0;
  transition: 600ms;
  -webkit-transition: 600ms;
  margin-top: 20px;
}

.form-login input:focus, input:focus {
  border-bottom: 2px solid #6fb0e1;
  transition: 600ms;
  -webkit-transition: 600ms;  
    box-shadow: none;
}

input[type="text"], input[type="password"] {
  color: #333;
  font-size:12px;
  font-family: Roboto;
  width: 100%;
  padding: 20px 20px 20px 10px;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
  color: #979797;
  font-size:12px;
  font-family: Roboto;
}

.input-novo-pedido {
  margin:0;
}

.ui-select-toggle {
  height: 42px;
  padding: 10px 0px 0px 10px;
}

.ui-select-toggle:focus {
 padding: 0; 
}

.preco p{
  margin-top:5px;
  padding-right: 30px;
  color: #333;
  font-size: 20px;
  float: left;
}

.btn-add-produto {
  width: 50px;
  height:50px;
  border-radius:1000px;
  color: #fff;
  font-size: 12px;
  background-color: #5cb85c;
  border:0;
  text-align: center;
  float: left;
  margin-top: -5px;
}

.btn-finalizar {
  margin-top: 50px;
  padding:20px;
  background-color: #5bc0de;
  color: #fff;
  width: 100%;
  height: auto;
  text-align: center;
}

.btn-finalizar:hover {
  background-color: #1c6479;    
}

.finalizar-pedido {
  float: right;
  width: 270px;
}

.margin-pedido {
  margin-top: 50px;
}






























































